---
yaml-files:
  - 'manually_specified.yaml'
  - '.yamllint'

extends: default

rules:
  # It's quite common for URLs to cause line lengths longer than 80
  line-length:
    max: 80
    level: warning
  # PyYAML doesn't support element indentation.
  # See "Indentation of flow collections" (right at the bottom)
  # https://pyyaml.org/wiki/PyYAMLDocumentation
  indentation:
    spaces: 2
    indent-sequences: false
