body {
  background-image: url("https://img.freepik.com/free-photo/abstract-flowing-neon-wave-background_53876-101942.jpg?w=1380&t=st=1663446127~exp=1663446727~hmac=b8a8b3fc10d3e181773291b75c0e1ab24f468ea8036bd5c0ff6549e02280ec8f");
  background-size: cover;
}
.App {
  /* opacity: 0.85; */
  box-sizing: border-box;
  background-color: var(--background);
  color: var(--text-primary);
  display: flex;
  flex-direction: column;
  padding: 1rem;
  min-height: 100vh;
  height: 100%;
  font-size: 1rem;
}

.header {
  display: flex;
  justify-content: space-evenly;
  text-align: center;
  font-weight: 700;
  font-size: xxx-large;
  width: 100%;
  padding-bottom: 20px;
}
.content {
  display: flex;
  flex: 1;
}
.menu {
  display: flex;
  flex-direction: column;
  min-width: 200px;
  height: 450px;
  justify-content: space-around;
}

.main {
  padding: 10px;
  width: 100%;
}

.downloadHolder {
  display: flex;
  align-items: center;
  flex-direction: column;
}

.filters {
  padding-bottom: 10px;
  display: flex;
  align-items: center;

  justify-content: center;
}
.filters label {
  padding: 0;
  margin: 0;
  padding-right: 3px;
}
.filters select {
  text-transform: capitalize;
  min-width: 200px;
}

.card {
  border: 2px solid var(--primary-border);
  border-radius: 5px;
  width: 200px;
  min-height: 300px;
  display: flex;
  background: rgb(2, 0, 14);
  background: linear-gradient(0deg, var(--background) 0%, #101a9d 100%);
  background-size: 100% 100%;
  padding-bottom: 60px;
}
.card .cardHeading {
  height: 80px;
  background-image: url(https://static9.depositphotos.com/1000423/1082/i/600/depositphotos_10827891-stock-photo-electric-cord-with-electricity-sparkls.jpg);
  background-size: 100% 100%;
  display: flex;
  align-items: flex-end;
  justify-content: center;
  margin-bottom: 30px;
}

.card .imgageHolder {
  height: 50px;
  width: 50px;
  background-color: darkcyan;
  border-radius: 50%;
  position: absolute;
  top: 20%;
}
.imgageHolder img {
  width: 100%;
  border-radius: 50%;
}

.card .footer {
  padding-top: 10px;
  position: absolute;

  bottom: 0;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: transparent;
}

.btns {
  border: 1px solid var(--text-primary);
  border-radius: 5px;
  margin: 3px;
  padding: 3px;
  text-transform: capitalize;
}
.btns:hover {
  cursor: pointer;
}
.App .section-secondary-title {
  display: flex;
  padding-bottom: 25px;
}

@media (max-width: 576px) {
  body {
    background-color: #115410;
  }
  .content {
    flex-direction: column;
  }

  
.menu {
  display: flex;
  flex-direction: column;
  min-width: 200px;
  justify-content: space-around;
}

}
