name: Build Calendars

on:
  pull_request:
    branches: [ "main" ]   
    paths:
      - 'manually_specified.yaml'
  workflow_dispatch:

env:
  CARGO_TERM_COLOR: always

jobs:
  build-calendars:
    runs-on: ubuntu-latest
    steps:

    - name: Checkout repository
      uses: actions/checkout@v3

    - name: Cache dependencies
      uses: actions/cache@v3
      with:
        path: |
          ~/.cargo/bin/
          ~/.cargo/registry/index/
          ~/.cargo/registry/cache/
          ~/.cargo/git/db/
          target/
        key: ${{ runner.os }}-cargo-${{ hashFiles('**/Cargo.lock') }}

    - name: Pip install requirements
      uses: BSFishy/pip-action@v1
      with:
        requirements: requirements.txt

    - name: Cargo build
      uses: actions-rs/cargo@v1
      with:
        command: build
        args: --release

    - name: Cargo run
      uses: actions-rs/cargo@v1
      with:
        command: run
        args: --release

    - name: Create summary of calendar changes
      id: create_summary
      run: python calendars_to_pr_comment.py

    - name: Comment summary to PR
      uses: mb2dev/github-action-comment-pull-request@1.0.0
      with:
        message: ${{ steps.create_summary.outputs.pr-comment }}
        GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
