name: Build and Publish Calendars

on:
  push:
    branches: [ "main" ]
    paths:
      - 'manually_specified.yaml'
      - 'src/*.rs'
      - 'src/*.py'
  workflow_dispatch:

env:
  CARGO_TERM_COLOR: always

jobs:
  build-and-publish-calendars:
    runs-on: ubuntu-latest
    steps:

    - name: Checkout repository
      uses: actions/checkout@v3

    - name: Cache dependencies
      uses: actions/cache@v3
      with:
        path: |
          ~/.cargo/bin/
          ~/.cargo/registry/index/
          ~/.cargo/registry/cache/
          ~/.cargo/git/db/
          target/
        key: ${{ runner.os }}-cargo-${{ hashFiles('**/Cargo.lock') }}

    - name: Pip install requirements
      uses: BSFishy/pip-action@v1
      with:
        requirements: requirements.txt

    - name: Cargo build
      uses: actions-rs/cargo@v1
      with:
        command: build
        args: --release

    - name: Cargo run
      uses: actions-rs/cargo@v1
      with:
        command: run
        args: --release

    - name: Write current time stamp to GH variable
      run: echo "::set-output name=datetime::$(date +'%Y-%m-%dT%H:%M:%S')"
      id: date

    - name: List all calendars to GH variable
      run: echo "::set-output name=LS_CALENDARS::$(ls calendars/* | xargs echo | sed 's/ /,/g')"
      id: LS-CALENDARS

    - name: POST machine_friendly.csv to pastebin
      run: curl -X POST -F "expires=31536000" -F "format=url" -F "content=$(cat calendars/machine_friendly.csv)" https://dpaste.org/api/ > pastebin.txt

    - name: Write pastebin link to GH variable
      run: echo "::set-output name=pastebin::$(cat pastebin.txt)/raw"
      id: PASTEBIN

    - name: Update latest release with new calendars
      uses: beyarkay/update-existing-release@master
      with:
        token: ${{ secrets.GH_ACTIONS_PAT }}
        release: Latest Eskom Loadshedding Calendars
        updateTag: true
        tag: latest
        replace: true
        files: ${{ steps.LS-CALENDARS.outputs.LS_CALENDARS }}
        body: "# To get your load shedding schedule in your calendar:

          1. Scroll down to the blue links under `Assets`:

          ![Assets image](https://github.com/beyarkay/eskom-calendar/blob/main/imgs/assets.png)

          2. Find the `ics` calendar file corresponding to your area (use ctrl-f to search quickly).

          3. Right-click on the file and copy the link:

          ![Right click and copy image](https://github.com/beyarkay/eskom-calendar/blob/main/imgs/copy-link.png)

          4. Open your calendar app (Google Calendar, Outlook, Apple Calendar, etc).

          5. Paste the calendar link in your app's `subscribe to calendar` option:


          | [Google Calendar](https://calendar.google.com/calendar/u/0/r/settings/addbyurl)  | [Outlook](https://outlook.office.com/calendar/addcalendar) | [Apple Calendar](https://support.apple.com/en-za/guide/calendar/icl1022/mac) |

          | ----------------- | --------------- | --------------- |

          | ![google calendar subscription image](https://github.com/beyarkay/eskom-calendar/blob/main/imgs/gcal.png) | ![outlook subscripition image](https://github.com/beyarkay/eskom-calendar/blob/main/imgs/outlook.png) | ![apple calendar subscription image](https://github.com/beyarkay/eskom-calendar/blob/main/imgs/ical.png) |


          That's it!


          ### Details

          Now you've got loadshedding warnings in your calendar that tell you if the power will be off or not. This is better than apps like EskomSePush because it combines what area you're in with your area's loadshedding schedule. You'll only be notified if

          1. there's national loadshedding announced by Eskom *and*

          2. your area has loadshedding scheduled for that time.

          ### Developers

          There's also a machine-friendly csv file that contains loadshedding information. Have a look at the [`README.md`](https://github.com/beyarkay/eskom-calendar/tree/latest) for ideas!

          (pastebin link)[${{ steps.PASTEBIN.outputs.pastebin }}]

          Last updated: ${{ steps.date.outputs.datetime }} UTC"
